.dashboard {
  background-image: url("../assets/fons_dashboard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 210px;
    /* Nou estil per afegir scroll vertical */
    max-height: 60vh; /* Limita l'alçada màxima del contenidor */
    overflow-y: auto; /* Habilita el scroll vertical */
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  transition: transform 0.2s;
  gap: 20px;

    /* Assegura una mida consistent */
    min-height: 400px; /* Ajust segons el contingut */
    height: auto; /* Permet expansió segons el text */
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.pet-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.progress-container {
  width: 100%;
  margin: 10px 0;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.progress-bar span {
  display: block;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 0.8rem;
}

.energy-bar {
  background-color: #76c7c0;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.mood-bar {
  background-color: #ffa726;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.pet-card input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.pet-card input[type="text"]:focus {
  outline: none;
  border-color: #388e3c;
}

.pet-type-select {
  width: 100%;
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #4caf50;
  cursor: pointer;
  box-sizing: border-box;
}

.pet-type-select:focus {
  outline: none;
  border-color: #388e3c;
}

.create-pet-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-pet-button:hover {
  background-color: #218838;
}